* {
  font-family: Matrix;
}
body {
  color: rgb(198, 240, 181);
  width: 100%;
  background-image: url("../img/Imagem3.jpg");
}
@font-face {
  font-family: Matrix;
  src: url(../css/matrix/matrix.ttf);
}
#main {
  background-color: rgb(21, 21, 21);
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
#main h1 {
  margin-top: 10%;
  font-size: 80px;
}
#main label {
  font-size: 50px;
}
input {
  margin-left: 1%;
  font-size: 30px;
  width: 500px;
  border-color: green;
}
select {
  margin-top: 1%;
  color: rgb(21, 21, 21);
  font-size: 30px;
}

button {
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 150px;
  height: 50px;
  color: rgb(21, 21, 21);
}
button:hover {
  background-color: rgb(156, 233, 126);
}

#mostra_resultado {
  font-size: 45px;
}

/*media querie*/

@media screen and (max-width: 570px) {
  #main {
    margin-top: 50%;
  }
  #main h1 {
    font-size: 50px;
  }
  #main label {
    font-size: 30px;
  }
  input {
    margin-top: 5%;
    font-size: 15px;
    width: 170px;
    height: 30px;
  }
  select {
    margin-top: 5%;
    font-size: 25px;
  }
  button {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-bottom: 1%;
    width: 45%;
    height: 10%;
  }

  #mostra_resultado {
    font-size: 25px;
  }
}
